{% load i18n %}

{% blocktrans %}Hello{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}
You are receiving this email because you (or someone pretending to be you)
requested that your password be reset on {{ domain }}. If you do not
wish to reset your password, please ignore this message.
{% endblocktrans %}

{% blocktrans %}
To reset your password, please click the following link, or copy and paste it
into your web browser:
{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}
Note that this password reset link is only valid for 1 day.
{% endblocktrans %}

{% blocktrans %}Your username, in case you've forgotten:{% endblocktrans %} {{ user.username }}


{% blocktrans %}Best regards{% endblocktrans %},

{{ site_name }} {% blocktrans %}Management{% endblocktrans %}