{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Password Successfully Changed" %}{% endblock %}

{% block content %}

<div class="form-block">

	<div class="form-block-content">

		<h4>{% trans "Password Successfully Changed" %}</h4>
		
		<hr class="line-separator">

	    <p class="highlighted">{% trans "Your password has now been successfully changed." %}</p>
	    <p class="highlighted">{% trans "Go to your" %} <a href="{% url 'profile' username=request.user %}" class="primary">{% trans "profile" %}</a>.</p>
	    
	</div>
</div>

{% endblock %}