{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ user.profile.get_screen_name }} {% if page == 'following' %}is following{% else %}is followed by{% endif %}{% endblock %}

{% block content %}

	{% include 'includes/profile_banner_meta.html' %}

	<div class="section-wrap">
		<div class="section overflowable">
			
			{% include 'includes/profile_sidebar_menu.html' %}
			
			<div class="content right">
				<div class="headline buttons primary">
					<h4>{{ user.profile.get_screen_name }} {% if page == 'following' %}is following{% else %}is followed by{% endif %}</h4>
				</div>

				<div class="follow-list">
					{% if follow_list %}
						{% for follow_user in follow_list %}
							{% include 'accounts/includes/follow_list.html' %}
						{% endfor %}	
					{% else %}	
						{% if page == 'following' %}
				          <h3>{{ user.profile.get_screen_name }} isn't following anybody.</h3>
				        {% else %}
				          <h3>{{ user.profile.get_screen_name }} have no followers.</h3>
				        {% endif %}	
				    {% endif %}	
				</div>
				<!-- /FOLLOW LIST -->

			</div>
			<!-- CONTENT -->

			<div class="clearfix"></div>
		</div>
	</div>
	<!-- /SECTION -->

{% endblock %}

{% block scripts %}
<script src="{% static 'footystory/js/follow.js' %}"></script>
{% endblock %} 